In [ ]:
1.

In [1]:
import pandas as pd
import numpy as np

# Storing the Given list as Dataframe in to df
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
#cumsum increment every time new value is encountered and stored in X when its true x will become zero again.
x = (df['X'] != 0).cumsum() 
y = x != x.shift()
#Which marks every time the difference between rows is non-zero, so that I can use it to spot transitions in data
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
#cumsum increment every time new value is encountered and stored in X when its true x will become zero again.
x = (df['X'] != 0).cumsum()
y = x != x.shift()
#Which marks every time the difference between rows is non-zero, so that I can use it to spot transitions in data
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
# printing the result data as data frame
print(df)

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [ ]:
2.

In [2]:
# cfeating date time index with pandas Date range
datetimeindex = pd.date_range(start='2015-01-01', end='2015-12-31')
# created series with date time index
s = pd.Series(np.random.rand(len(datetimeindex)),index=datetimeindex)
print(s)

2015-01-01    0.416061
2015-01-02    0.974697
2015-01-03    0.123206
2015-01-04    0.379172
2015-01-05    0.772555
2015-01-06    0.070642
2015-01-07    0.746324
2015-01-08    0.056159
2015-01-09    0.665069
2015-01-10    0.404981
2015-01-11    0.261331
2015-01-12    0.722948
2015-01-13    0.203923
2015-01-14    0.937252
2015-01-15    0.719752
2015-01-16    0.808888
2015-01-17    0.851647
2015-01-18    0.054463
2015-01-19    0.186351
2015-01-20    0.670813
2015-01-21    0.588170
2015-01-22    0.493564
2015-01-23    0.892832
2015-01-24    0.621153
2015-01-25    0.175659
2015-01-26    0.078341
2015-01-27    0.786069
2015-01-28    0.052208
2015-01-29    0.775027
2015-01-30    0.406762
                ...
2015-12-02    0.603825
2015-12-03    0.020264
2015-12-04    0.703020
2015-12-05    0.413038
2015-12-06    0.428032
2015-12-07    0.271919
2015-12-08    0.960582
2015-12-09    0.245483
2015-12-10    0.276568
2015-12-11    0.026668
2015-12-12    0.536302
2015-12-13    0.581988
2015-12-14    0.609260
2015-12-15    0.460622
2015-12-16    0.947460
2015-12-17    0.888026
2015-12-18    0.779565
2015-12-19    0.788768
2015-12-20    0.395239
2015-12-21    0.208286
2015-12-22    0.212424
2015-12-23    0.084307
2015-12-24    0.497205
2015-12-25    0.833713
2015-12-26    0.934534
2015-12-27    0.114923
2015-12-28    0.893108
2015-12-29    0.403065
2015-12-30    0.518645
2015-12-31    0.139871
Freq: D, Length: 365, dtype: float64

In [ ]:
3.

In [3]:
# finding sum of the wednesdays using weekday_ name 
s[datetimeindex.weekday_name == 'Wednesday'].sum()

23.472803946707185

In [ ]:
4.

In [4]:
# calculating average using mean by frequency as month
s.groupby(pd.Grouper(freq='M')).mean()

2015-01-31    0.488753
2015-02-28    0.482014
2015-03-31    0.484361
2015-04-30    0.513236
2015-05-31    0.495999
2015-06-30    0.496567
2015-07-31    0.483634
2015-08-31    0.543232
2015-09-30    0.472661
2015-10-31    0.518276
2015-11-30    0.425016
2015-12-31    0.499455
Freq: M, dtype: float64

In [ ]:
5.

In [5]:
# calculating Highest value using max value of the month by max using frequency as quarter with is 4 quarters
s.groupby(pd.Grouper(freq='4M')).max()

2015-01-31    0.974697
2015-05-31    0.982198
2015-09-30    0.986122
2016-01-31    0.991990
dtype: float64

In [6]:
# calculating Highest value date  using idmax value of the month by max using frequency as quarter with is 4 quarters
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-02
2015-05-31   2015-05-01
2015-09-30   2015-07-22
2016-01-31   2015-11-09
dtype: datetime64[ns]